<a ng-href="/#/entry/{{mudLink}}" class="info-box {{mudTheme}} md-hue-1"  md-colors="::{backgroundColor: '{{mudColor}}'}" >

	<span class="info-box-icon"><i class="fa {{mudIcon}}"></i></span>

	<div class="info-box-content">

		<span class="info-box-text">{{mudText}}</span>

		<span class="info-box-number">{{mudNumber}}</span>

		<div class="progress">

			<div class="progress-bar" style="width: {{mudProgress}}"></div>

		</div>

		<span class="progress-description">{{mudComment}}</span>

	</div>

</a>