<div class="container">
	<div class="page-header">
		<h3>Select a project below to start...</h3>
	</div>
</div>

<div layout="row"  layout-wrap layout-margin layout-align="center center" class="rows">
	
	<mud-boxes mud-color="{{proj.projColor}}"
		data-mud-icon = "{{proj.projIcon}}"
		data-mud-text = "{{proj.projText}}"
		data-mud-number = "{{proj.projNumber}}"
		data-mud-comment = "{{proj.projComment}}"
		data-mud-progress = "{{proj.randoming}}"
		data-mud-link = "{{proj.projID}}"
		ng-repeat="proj in about.data">
	</mud-boxes>

</div>