<div class="rows md-padding" layout="row" layout-align="center center">
	<md-card 
		md-colors="::{backgroundColor: 'default-primary-700'}"
		flex="50" 
		flex-xs="100"
		flex-sm="80"
		layout="row"
		layout-align="center center">
		<md-card-title>
			<md-card-title-media>
				<div class="md-media-sm card-media" layout md-colors="::{background: 'default-accent'}">
					<img class="img-sm" src="images/3.jpg"  />
				</div>
			</md-card-title-media>
			<md-card-title-text>
				<span class="md-headline">Welcome to the dashbaord</span>
				<span class="md-subhead description">Pick a project to start</span>
			</md-card-title-text>
		</md-card-title>
	</md-card>
</div>
<div class="rows md-padding rows-lowered" layout="row"  layout-wrap layout-align="center center">

	<md-card
		flex="20"
		flex-xs="40"
		flex-sm="30"
		layout="row"
		class="mg1">
		<img class="md-card-image-xx" src="images/001.jpg" alt="" />
		<md-button ng-href="/#/dashboard/{{entry.projid}}" aria-label="menu" class="md-fab md-accent btn-md btn-card btn btn-floating-action">
			<i class="fa fa-bar-chart"></i>
			<md-tooltip md-direction="right">
				Dashboards
			</md-tooltip>
		</md-button>
	
	</md-card>
	<md-card
		flex="20"
		flex-xs="40"
		flex-sm="30"
		layout="row"
		class="mg1">
		<img class="md-card-image-xx" src="images/002.jpg" alt="" />
		<md-button ng-href="/#/presentation/{{entry.projid}}" aria-label="menu" class="md-fab md-accent btn-md btn-card btn btn-floating-action">
			<i class="fa fa-slideshare"></i>
			<md-tooltip md-direction="right">
				Client Presentations
			</md-tooltip>
		</md-button>
	
	</md-card>
	
</div>
<div class="rows md-padding rows-raised" layout="row"  layout-wrap layout-align="center center">

	<md-card
		flex="20"
		flex-xs="40"
		flex-sm="30"
		layout="row"
		class="mg1">
		<img class="md-card-image-xx" src="images/003.jpg" alt="" />
		<md-button ng-href="#theteam" aria-label="menu" class="md-fab md-accent btn-md btn-card btn btn-floating-action">
			<i class="fa fa-user-secret"></i>
			<md-tooltip md-direction="right">
				The team
			</md-tooltip>
		</md-button>
	
	</md-card>
	<md-card
		flex="20"
		flex-xs="40"
		flex-sm="30"
		layout="row"
		class="mg1">
		<img class="md-card-image-xx" src="images/004.jpg" alt="" />
		<md-button ng-href="#pending" aria-label="menu" class="md-fab md-accent btn-md btn-card btn btn-floating-action">
			<i class="fa fa-bed"></i>
			<md-tooltip md-direction="right">
				Pending
			</md-tooltip>
		</md-button>
	
	</md-card>
	
</div>