@font-face {
  font-family: 'Roboto Light';
  src: url('@{icon-font-path}@{icon-font-name}-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('@{icon-font-path}@{icon-font-name}-400.woff2') format('woff2');
}