/*********************************************
 * Hacked: Mixins
 *********************************************/
.animate-me(@anim, @dur:1s) {
	-webkit-animation: @anim @dur ease;
	-moz-animation: @anim @dur ease;
	-ms-animation: @anim @dur ease;
	-o-animation: @anim @dur ease;
	animation: @anim @dur ease;
}


.hardwareAccel() {
	// Improve performance on mobile/tablet devices
	.prefixed(transform, translateZ(0));
}


.fontSmooth() {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.forceBlockLevel() {
	// Transforms need to be block-level to work
	display: inline-block;
	vertical-align: middle;
}

.hacks() {
	.forceBlockLevel();
	.hardwareAccel();
	.fontSmooth();
}

.prefixed(@property, @value) {
  & when (@webkit = true) {
		-webkit-@{property}: @value;
  }
  & when (@moz = true) {
		-moz-@{property}: @value;
  }
  & when (@ms = true) {
		-ms-@{property}: @value;
  }
  & when (@o = true) {
		-o-@{property}: @value;
  }
  @{property}: @value;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//border radius creator
.border-radius(@radius) {
  border-radius: @radius;
}

//Different radius each side
.border-radius(@top-left; @top-right; @bottom-left; @bottom-right) {
  border-top-left-radius: @top-left;
  border-top-right-radius: @top-right;
  border-bottom-right-radius: @bottom-right;
  border-bottom-left-radius: @bottom-left;
}

// Single side border-radius

.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}
